* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.box-container {
  height: 100%;
  perspective: 650px;
  background: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 500px;
  height: 500px;
  border-radius: .6rem;
  background: #fff;
}