@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: #8e44ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.app-container {
  min-width: 1084px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border: 2px solid #dedede;
  border-radius: 5px;
}

.nav {
  list-style: none;
  min-width: 40%;
}

.nav-item {
  margin-bottom: 20px;
}

.nav-link {
  color: #808080;
  text-decoration: none;
}

.nav-link span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background: #dedede;
  color: #808080;
  font-weight: 700;
}

.nav-link.active {
  color: #000;
}

.nav-link.active span {
  background: #2a80b9;
  color: #fff;
}

.tab-item {
  margin-bottom: 40px;
}

.button {
  border: none;
  outline: none;
}

.button span {
  padding: 1rem;
  background: #f1f1f1;
  border-radius: 3px;
  font-size: 1.4rem;
}
